.DS_Store
._.DS_Store

bin/aped
bin/ape.log
build.mk

src/configure.h
src/build

modules/lib/libmod_spidermonkey.so*
modules/mysql.mk
modules/platform.mk
modules/deps/mysac/*.a
modules/deps/mysac/*.o
modules/deps/mysac/make.deps
modules/deps/mysac/exemple/client
modules/deps/mysac/exemple/client.o
modules/deps/mysac/exemple/client_bigmem
modules/deps/mysac/exemple/client_bigmem.o
modules/deps/mysac/exemple/client_iofunc
modules/deps/mysac/exemple/client_iofunc.o
modules/deps/mysac/exemple/client_stmt
modules/deps/mysac/exemple/client_stmt.o
modules/deps/mysac/exemple/dump_response.o
modules/deps/mysac/libmysac.so

deps/js/src/js
deps/js/src/*.o
deps/js/src/*.so
deps/js/src/js-confdefs.h
deps/js/src/js-config
deps/js/src/js-config.h
deps/js/src/.deps/
deps/js/src/Makefile
deps/js/src/config.*
deps/js/src/config/autoconf.mk
deps/js/src/config/*.o
deps/js/src/config/system_wrappers_js
deps/js/src/config/nfspwd
deps/js/src/config/nsinstall
deps/js/src/editline/*
deps/js/src/editline/*.a
deps/js/src/editline/.deps
deps/js/src/shell/.deps
deps/js/src/shell/js*
deps/js/src/dist/
deps/js/src/host_jskwgen
deps/js/src/host_jsoplengen
deps/js/src/jsautocfg.h
deps/js/src/jsautokw.h
deps/js/src/jsautooplen.h
deps/js/src/jscpucfg
deps/js/src/libjs_static.a
deps/js/src/libmozjs.dylib
deps/js/src/jsapi-tests/*

deps/udns*/*.o
deps/udns*/dnsget
deps/udns*/ex-rdns
deps/udns*/rblcheck
deps/udns*/config.log
deps/udns*/libudns.a

deps/libmemcached-1.0.18/aminclude
deps/libmemcached-1.0.18/clients/.deps
deps/libmemcached-1.0.18/clients/.libs
deps/libmemcached-1.0.18/clients/*.o
deps/libmemcached-1.0.18/libhashkit/.deps
deps/libmemcached-1.0.18/libhashkit/.libs
deps/libmemcached-1.0.18/libhashkit/*.o
deps/libmemcached-1.0.18/libhashkit/*.lo
#deps/libmemcached-1.0.18/libmemcached-1.0/t/.deps/*.Po
deps/libmemcached-1.0.18/libmemcached-1.0/t
deps/libmemcached-1.0.18/libmemcached/.deps/*.Po
deps/libmemcached-1.0.18/libmemcached/.deps/*.Plo
deps/libmemcached-1.0.18/libmemcached/.libs/*.a
deps/libmemcached-1.0.18/libmemcached/.libs/*.la
deps/libmemcached-1.0.18/libmemcached/.libs/*.lai
deps/libmemcached-1.0.18/libmemcached/.libs/*.o
deps/libmemcached-1.0.18/libmemcached/csl/.deps/*.Plo
deps/libmemcached-1.0.18/libmemcached/csl/.deps/.dirstamp
deps/libmemcached-1.0.18/libmemcached/csl/.libs/*.o
deps/libmemcached-1.0.18/libmemcached/csl/*.lo
deps/libmemcached-1.0.18/libmemcached/csl/*.o
deps/libmemcached-1.0.18/libmemcached/csl/.dirstamp
deps/libmemcached-1.0.18/libmemcached/*.lo
deps/libmemcached-1.0.18/libmemcached/*.o
deps/libmemcached-1.0.18/libmemcachedinternal/.libs/*.a
deps/libmemcached-1.0.18/libmemcachedinternal/.libs/*.la
deps/libmemcached-1.0.18/libmemcachedinternal/*.la
deps/libmemcached-1.0.18/libmemcachedinternal/.dirstamp
deps/libmemcached-1.0.18/libmemcachedprotocol/.deps/*.Plo
deps/libmemcached-1.0.18/libmemcachedutil/.deps/.dirstamp
deps/libmemcached-1.0.18/libmemcachedutil/.deps/*.Plo
deps/libmemcached-1.0.18/libmemcachedutil/.libs/*.o
deps/libmemcached-1.0.18/libmemcachedutil/.libs/*.a
deps/libmemcached-1.0.18/libmemcachedutil/.libs/*.la
deps/libmemcached-1.0.18/libmemcachedutil/*.o
deps/libmemcached-1.0.18/libmemcachedutil/*.lo
deps/libmemcached-1.0.18/libmemcachedutil/*.a
deps/libmemcached-1.0.18/libmemcachedutil/*.la
deps/libmemcached-1.0.18/libtest/.dirstamp
deps/libmemcached-1.0.18/libtest/.deps/.dirstamp
deps/libmemcached-1.0.18/libtest/.deps/*.Po
deps/libmemcached-1.0.18/libtest/.deps/*.Plo
deps/libmemcached-1.0.18/libtest/.libs/*.a
deps/libmemcached-1.0.18/libtest/.libs/*.la
deps/libmemcached-1.0.18/libtest/.libs/*.o
deps/libmemcached-1.0.18/libtest/.libs/*.lo
deps/libmemcached-1.0.18/libtest/*.o
deps/libmemcached-1.0.18/Makefile
deps/libmemcached-1.0.18/aminclude.am
deps/libmemcached-1.0.18/clients/.dirstamp
deps/libmemcached-1.0.18/clients/libutilities.la
deps/libmemcached-1.0.18/clients/memcapable
deps/libmemcached-1.0.18/clients/memcat
deps/libmemcached-1.0.18/clients/memcp
deps/libmemcached-1.0.18/clients/memdump
deps/libmemcached-1.0.18/clients/memerror
deps/libmemcached-1.0.18/clients/memexist
deps/libmemcached-1.0.18/clients/memflush
deps/libmemcached-1.0.18/clients/memparse
deps/libmemcached-1.0.18/clients/memping
deps/libmemcached-1.0.18/clients/memrm
deps/libmemcached-1.0.18/clients/memslap
deps/libmemcached-1.0.18/clients/memstat
deps/libmemcached-1.0.18/clients/memtouch
deps/libmemcached-1.0.18/clients/utilities.lo
deps/libmemcached-1.0.18/config.log
deps/libmemcached-1.0.18/config.status
deps/libmemcached-1.0.18/docs/conf.py
deps/libmemcached-1.0.18/example/.deps/*.Po
deps/libmemcached-1.0.18/libhashkit/.dirstamp
deps/libmemcached-1.0.18/libhashkit/hashkitcon.h

deps/libmemcached-1.0.18/libhashkit/libhashkit.la
deps/libmemcached-1.0.18/libhashkit/libhashkitinc.la
deps/libmemcached-1.0.18/libmemcached/.deps/.dirstamp
deps/libmemcached-1.0.18/libmemcached/.dirstamp
deps/libmemcached-1.0.18/libmemcached/.libs/libmemcached.so
deps/libmemcached-1.0.18/libmemcached/.libs/libmemcached.so.11
deps/libmemcached-1.0.18/libmemcached/.libs/libmemcached.so.11.0.0
deps/libmemcached-1.0.18/libmemcached/.libs/libmemcachedutil.so
deps/libmemcached-1.0.18/libmemcached/.libs/libmemcachedutil.so.2
deps/libmemcached-1.0.18/libmemcached/.libs/libmemcachedutil.so.2.0.0
deps/libmemcached-1.0.18/libmemcached/libmemcached.la
deps/libmemcached-1.0.18/libmemcached/libmemcachedutil.la
deps/libmemcached-1.0.18/libmemcachedutil/.dirstamp
deps/libmemcached-1.0.18/libtest/abort
deps/libmemcached-1.0.18/libtest/backtrace
deps/libmemcached-1.0.18/libtest/core-count
deps/libmemcached-1.0.18/libtest/exception/.deps/.dirstamp
deps/libmemcached-1.0.18/libtest/exception/.deps/*-fatal.Plo
deps/libmemcached-1.0.18/libtest/exception/.dirstamp
deps/libmemcached-1.0.18/libtest/exception/.libs/*.o
deps/libmemcached-1.0.18/libtest/exception/*.lo
deps/libmemcached-1.0.18/libtest/exception/*.o
deps/libmemcached-1.0.18/libtest/*.la
deps/libmemcached-1.0.18/libtest/*.lo
deps/libmemcached-1.0.18/libtest/skiptest
deps/libmemcached-1.0.18/libtest/unittest
deps/libmemcached-1.0.18/libtest/wait
deps/libmemcached-1.0.18/libtest/yatlcon.h
deps/libmemcached-1.0.18/libtool
deps/libmemcached-1.0.18/mem_config.h
deps/libmemcached-1.0.18/stamp-h1
deps/libmemcached-1.0.18/support/libmemcached.pc
deps/libmemcached-1.0.18/tests/.deps/.dirstamp
deps/libmemcached-1.0.18/tests/.deps/*.Po
deps/libmemcached-1.0.18/tests/.dirstamp
deps/libmemcached-1.0.18/tests/.libs/atomsmasher
deps/libmemcached-1.0.18/tests/.libs/cycle
deps/libmemcached-1.0.18/tests/.libs/failure
deps/libmemcached-1.0.18/tests/.libs/hash_plus
deps/libmemcached-1.0.18/tests/.libs/memcapable
deps/libmemcached-1.0.18/tests/.libs/memcat
deps/libmemcached-1.0.18/tests/.libs/memcp
deps/libmemcached-1.0.18/tests/.libs/memdump
deps/libmemcached-1.0.18/tests/.libs/memerror
deps/libmemcached-1.0.18/tests/.libs/memexist
deps/libmemcached-1.0.18/tests/.libs/memflush
deps/libmemcached-1.0.18/tests/.libs/memping
deps/libmemcached-1.0.18/tests/.libs/memrm
deps/libmemcached-1.0.18/tests/.libs/memslap
deps/libmemcached-1.0.18/tests/.libs/memstat
deps/libmemcached-1.0.18/tests/.libs/memtouch
deps/libmemcached-1.0.18/tests/.libs/parser
deps/libmemcached-1.0.18/tests/.libs/testhashkit
deps/libmemcached-1.0.18/tests/.libs/testplus
deps/libmemcached-1.0.18/tests/.libs/testudp
deps/libmemcached-1.0.18/tests/atomsmasher
deps/libmemcached-1.0.18/tests/cycle
deps/libmemcached-1.0.18/tests/failure
deps/libmemcached-1.0.18/tests/hash_plus
deps/libmemcached-1.0.18/tests/hashkit_functions.o
deps/libmemcached-1.0.18/tests/libmemcached-1.0/.deps/.dirstamp
deps/libmemcached-1.0.18/tests/libmemcached-1.0/.deps/*.Po
deps/libmemcached-1.0.18/tests/libmemcached-1.0/.dirstamp
deps/libmemcached-1.0.18/tests/libmemcached-1.0/.libs/sasl
deps/libmemcached-1.0.18/tests/libmemcached-1.0/.libs/testapp
deps/libmemcached-1.0.18/tests/libmemcached-1.0/.libs/testsocket
deps/libmemcached-1.0.18/tests/libmemcached-1.0/*.o
deps/libmemcached-1.0.18/tests/libmemcached-1.0/sasl
deps/libmemcached-1.0.18/tests/libmemcached-1.0/testapp
deps/libmemcached-1.0.18/tests/libmemcached-1.0/testsocket
deps/libmemcached-1.0.18/tests/libmemcached-1.0/internals
deps/libmemcached-1.0.18/tests/mem_udp.o
deps/libmemcached-1.0.18/tests/memcapable
deps/libmemcached-1.0.18/tests/memcat
deps/libmemcached-1.0.18/tests/memcp
deps/libmemcached-1.0.18/tests/memdump
deps/libmemcached-1.0.18/tests/memerror
deps/libmemcached-1.0.18/tests/memexist
deps/libmemcached-1.0.18/tests/memflush
deps/libmemcached-1.0.18/tests/memping
deps/libmemcached-1.0.18/tests/memrm
deps/libmemcached-1.0.18/tests/memslap
deps/libmemcached-1.0.18/tests/memstat
deps/libmemcached-1.0.18/tests/memtouch
deps/libmemcached-1.0.18/tests/parser
deps/libmemcached-1.0.18/tests/testhashkit
deps/libmemcached-1.0.18/tests/testplus
deps/libmemcached-1.0.18/tests/*.o
deps/libmemcached-1.0.18/tests/testudp
deps/libmemcached-1.0.18/util/.deps/*.Po
deps/libmemcached-1.0.18/util/.deps/*.Po
modules/memcached.mk

